# Exclude Visual Studio Code settings and workspace files
.vscode/
*.code-workspace

# Exclude Python cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
/resources
.env
.venv
*.log
.git

*test.py 
/screenshots
/docs
.agents
.superpowers
.ruff_cache
.pytest_cahce

/ollama*
typescript
GEMINI.md
AGENTS.md
REFACTORING_PLAN.md
/prompts
.gemini/
data/*.db*